@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bannerSection {
    @apply bg-cover bg-left min-h-[270px] sm:min-h-[480px] h-[calc(100vh-600px)] xl:h-[calc(100vh-94px)];
  }

  .infoPattern1 {
    @apply absolute bottom-[-40px] z-[-1];
  }

  .pattern-l-top {
    @apply absolute top-0 left-[50%] translate-x-[-50%] md:translate-x-0 md:left-[-17%];
  }

  .pattern-l-bottom {
    @apply absolute bottom-0 translate-x-[-50%] md:translate-x-0 left-[0%];
  }

  .pattern-r-top {
    @apply absolute top-0 md:right-[-17%] hidden md:block;
  }

  .title-pattern {
    @apply absolute top-[50%] left-[40%] -translate-x-1/2 hidden xl:block;
  }

  .swiper-wrapper {
    @apply flex items-stretch;
  }

  .zoom-animation {
    animation: zoom-animation 1s linear infinite alternate;
  }

  @keyframes zoom-animation {
    0% {
      scale: 0.95;
    }
    100% {
      scale: 1;
    }
  }
}
